<!-- <br />
<div style="width: 100%; height: 500px">
  <ngx-charts-bar-vertical [results]="data" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
                           [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                           [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
  </ngx-charts-bar-vertical>
</div> -->
