<div class="wrap-collabsible">
  <div class="" *ngIf="rawCityData?.length">
    <div class="content-inner">
      <div class="table-wrapper">
        <table class="table">
          <thead>
            <tr>
              <th>Stadt</th>
              <th>&nbsp;7-Tage-Inzidenz&nbsp;</th>
            </tr>
          </thead>

          <tbody>
            <tr
              *ngFor="let c of rawCityData"
              class="{{ getClassForInzidenz(c[2]) }}"
            >
              <td>{{ c[0] }}</td>
              <td>{{ c[2] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!rawCityData?.length">
  Leider liefert die bayerische Datenquelle im Moment keine Stadtinformationen.
</div>
